@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");
* {
  margin: 0;
  padding: 0; }

nav {
  box-shadow: 0 10px 5px -10px rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid #dedede;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0.65em 0 0.65em 0;
  margin: 0;
  width: 100%;
  height: max-content; }

.nav__lista {
  padding: 0 3.12em 0 3.12em;
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin: 0; }

.nav__item {
  display: block;
  color: black;
  padding: 0.62em 0 0.62em 0;
  justify-items: center; }

.nav__buscador {
  padding: 4px;
  border: 1px solid #a2a2a2; }

body a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: black; }

.nav__icono {
  width: 10rem;
  margin-top: 0.32em;
  margin-right: 15px; }

/*CARRITO */
.submenu {
  position: relative; }

.submenu #carrito {
  display: none; }

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  min-width: 300px; }

.vacio {
  padding: 10px;
  background-color: crimson;
  text-align: center;
  border-radius: 10px;
  color: white; }

/*Carrusel*/
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
  display: none; }

/*CARRITO NUEVO */
.store__texto {
  color: #0e0e2c;
  text-align: center;
  font-family: Roboto-Light,sans-serif;
  font-size: 32px;
  line-height: 40px;
  padding: .5px 0; }

.item-cuotas {
  flex-grow: 0;
  font-family: Roboto-Regular,sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #5b51e9;
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: center; }

.ul {
  list-style: none; }

/*SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px; }

.shopping-cart-header {
  border-bottom: 1px solid #ccc; }

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px; }

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px; }

.shopping-cart-total {
  min-height: 96px;
  display: flex;
  flex-direction: column; }

.modal-backdrop.show {
  display: none; }

.col-6 {
  flex: 0 0 auto;
  width: 33%; }

.col-2 {
  flex: 0 0 auto;
  width: 33%; }

.col-4 {
  flex: 0 0 auto;
  width: 33%; }

.text-center {
  text-align: center !important;
  font-size: 20px; }

.carrito__p {
  font-size: 15px; }

.container1 {
  background-image: whitesmoke;
  display: flex;
  justify-content: center;
  text-align: center; }

.row2 {
  align-content: center;
  align-items: center;
  margin: 1.25em;
  background: #f5f5f5;
  display: grid;
  width: max-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0.43em;
  grid-row-gap: 0.43em; }

.uno {
  grid-area: article1; }

.dos {
  grid-area: article2; }

.tres {
  grid-area: article; }

.cuatro {
  grid-area: article; }

.cinco {
  grid-area: article; }

.seis {
  grid-area: article; }

.siete {
  grid-area: article; }

.ocho {
  grid-area: article; }

.nueve {
  grid-area: article; }

.diez {
  grid-area: article; }

.once {
  grid-area: article; }

.doce {
  grid-area: article; }

.item {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
  background-color: #fff;
  /*padding: 1.45em;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.1s;
  width: 18.75em;
  height: 21.87em;
  border-radius: 4px; }

.item-image {
  object-fit: cover; }

.item-title {
  font-family: Roboto-Regular,sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #4a4a68;
  margin-bottom: 0;
  overflow: hidden;
  text-align: center; }

.item-price {
  font-family: Roboto-Regular,sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #0e0e2c;
  margin: 0;
  text-align: center; }

.button-primary {
  display: inline-block;
  width: 95%;
  height: 50px;
  padding: 12px 30px;
  background: #15a3a3;
  border-radius: 29px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  margin: 7% auto;
  letter-spacing: 0.05em;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 17px; }

.button-primary:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none; }

.btn-success {
  color: white;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none; }

/* FOOTER */
footer {
  z-index: 900;
  box-shadow: 0 -10px 5px -10px rgba(0, 0, 0, 0.26);
  grid-area: footer;
  background-color: white;
  border-top: 1px solid #dedede;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "izquierda centro derecha"; }

.footer__centro {
  grid-area: centro;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center; }

.centro__lista {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center; }

.footer__derecha {
  grid-area: derecha;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center; }

.derecha__lista {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 1rem 0 1rem 0;
  padding: 0; }

footer a {
  text-decoration: none;
  color: black; }

/* GRID MARCAS */
.marcas__main {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  width: 100%;
  height: 100%; }

#main__section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }

.section__grid1 {
  align-content: center;
  align-items: center;
  margin: 1.87em;
  display: grid;
  width: max-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Marca Marca Marca" "Marca Marca Marca";
  grid-column-gap: 0.625em;
  grid-row-gap: 0.625em; }

.grid__cardMarca {
  display: flex;
  width: 18.75em;
  height: 18.75em;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
  background-color: white;
  border-radius: 4px;
  justify-content: center;
  align-items: center; }

.grid__cardMarca:hover {
  border-color: #71a154;
  box-shadow: 0px 0px 30px #317124; }

.grid__cardMarca:focus {
  border-color: #71a154;
  box-shadow: 0px 0px 30px #317124; }

@media (min-width: 540px) {
  .section__grid1 {
    align-content: center;
    align-items: center;
    margin: 1.87em;
    /* display: grid; */
    width: max-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Marca Marca Marca" "Marca Marca Marca";
    grid-column-gap: 0.625em;
    grid-row-gap: 0.625em; } }

/* FORMULARIO */
/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
/* End Fonts */
/* Start Global rules 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* End Global rules */
/* Start body rules 
body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
    */
/*   the main font */
/*   font-family: 'Abel', sans-serif;
opacity: .95; 
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
/* |||||||||||||||||||||||||||||||||||||||||||||*/
/* //////////////////////////////////////////// */
/* End body rules */
.overlay {
  margin-bottom: 10px;
  background-image: url(../imagenes/fondo4.png); }

/* Start form  attributes */
.form2 {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px rgba(234, 177, 149, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%); }

/* form Container */
.form2 .con {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: 5rem; }

/* the header form form */
header {
  text-align: center; }

/* Login title form form */
header h2 {
  font-size: 250%;
  font-family: 'Playfair Display', serif;
  color: #3e403f; }

/*  A welcome message or an explanation of the login form */
header p {
  letter-spacing: 0.05em; }

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
.input-item {
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px; }

/* Show/hide password Font Icon */
#eye {
  background: #fff;
  color: #333;
  margin: 5.9px 0 0 0;
  margin-left: -20px;
  padding: 15px 9px 19px 0px;
  border-radius: 0px 5px 5px 0px;
  float: right;
  position: relative;
  right: 1%;
  top: -.2%;
  z-index: 5;
  cursor: pointer; }

/* inputs form  */
input[class="form-input"] {
  width: 240px;
  height: 50px;
  margin-top: 2%;
  padding: 15px;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  color: #5E6472;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear; }

input[id="txt-input"] {
  width: 250px; }

/* focus  */
input:focus {
  transform: translateX(-2px);
  border-radius: 5px; }

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* input[type="text"] {min-width: 250px;} */
/* buttons  */
#btn-enviar {
  display: inline-block;
  color: #252537;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #B8F2E6;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  margin: 7% auto;
  letter-spacing: 0.05em; }

/* Submits */
.submits {
  width: 48%;
  display: inline-block;
  margin-left: 2%; }

/*       Forgot Password button FAF3DD  */
.frgt-pass {
  background: transparent; }

/*     Sign Up button  */
.sign-up {
  background: #B8F2E6; }

/* buttons hover */
button:hover {
  transform: translatey(3px);
  box-shadow: none; }

/* buttons hover Animation */
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate; }

@keyframes ani9 {
  0% {
    transform: translateY(3px); }
  100% {
    transform: translateY(5px); } }

#message {
  width: 250px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  margin-top: 20px;
  padding: 15px;
  outline: none;
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

/*Formulario */
.red {
  color: red; }

.green {
  color: green; }

.promo__p {
  color: #0e0e2c;
  text-align: center;
  font-family: Roboto-Light,sans-serif;
  font-size: 32px;
  line-height: 40px;
  padding: .5px 0; }

.productos {
  /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    width: 100%;
    height: 100%;*/
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  text-align: center;
  width: 100%; }

.productos__uno {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem;
  height: 15rem;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  color: #fafafa;
  margin: 1rem 0; }

.productos__info {
  text-align: center;
  color: #000;
  font-family: 'Lobster', cursive; }

.far {
  color: #000; }

.productos__p {
  color: #000;
  font-family: 'Lobster', cursive; }

.contador {
  color: transparent; }

/* nuevas imagenes*/
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px; }

.hero-section {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l); }

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%; }

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr); } }

.card {
  list-style: none;
  position: relative; }

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%; }

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear; }

.card:hover .card__background {
  transform: scale(1.05) translateZ(0); }

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px); }

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0; }

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase; }

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw; }

.articulo__main {
  grid-area: main;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  width: 100%;
  height: 100%;
  padding: 3.125em; }

.main__section {
  display: flex;
  justify-content: center; }

.section__grid2 {
  /* padding: 3.125em;*/
  background-color: white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  align-items: center;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-areas: "subImg princImg datos"; }

/* Imagenes */
.grid__imgPrincipal {
  display: flex;
  grid-area: princImg;
  justify-content: space-between;
  padding: 1.25em;
  width: 23.12rem;
  align-content: center; }

.grid__imgSecundarias {
  padding: 1.25em;
  grid-area: subImg;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #dedede; }

.imgSecundarias__secundaria {
  height: 19rem;
  width: 19rem;
  transition: all 0.2s;
  object-fit: cover; }

/* datos */
.grid__datos {
  padding: 1.25em;
  grid-area: datos;
  height: 100%;
  display: grid;
  grid-template-columns: 33.12em;
  grid-template-rows: max-content max-content max-content max-content max-content max-content;
  grid-template-areas: "nombre" "precio" "favorito" "descripcion" "selectores" "botones";
  row-gap: 13px; }

.grid__datos h2 {
  font-size: 1.87em;
  flex-wrap: wrap; }

.datos__precio {
  font-weight: bold;
  grid-area: precio; }

.datos__descripcion {
  width: 33rem;
  font-size: 13px;
  text-align: justify;
  color: #2e2e2e;
  grid-area: descripcion; }

.datos__selects {
  display: flex;
  font-size: 1.062em;
  grid-area: selectores;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.93rem;
  border-top: 1px solid #dedede; }

label {
  display: inline-block; }

.form-select {
  width: max-content; }

.datos__inputs {
  grid-area: botones;
  display: flex;
  width: 100%; }

.button__cart {
  width: 1em; }

.btn-outline-light {
  color: #000;
  border-color: #000;
  margin-left: 30px; }

.button__heart {
  color: #000; }

.preguntas__inicio {
  padding: 10px;
  margin-left: 20px; }

.preguntas__p {
  margin-left: 20px; }

.preguntas__consulta {
  margin-left: 20px; }

.como__formas {
  margin-left: 20px; }

.envios__parrafos {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between; }

.promociones {
  background-image: whitesmoke;
  display: flex;
  justify-content: center;
  text-align: center; }

.promociones__row {
  align-content: center;
  align-items: center;
  margin: 1.25em;
  background: #f5f5f5;
  display: grid;
  width: max-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0.43em;
  grid-row-gap: 0.43em; }

.uno {
  grid-area: article1; }

.dos {
  grid-area: article2; }

.tres {
  grid-area: article; }

.cuatro {
  grid-area: article; }

.cinco {
  grid-area: article; }

.seis {
  grid-area: article; }

.siete {
  grid-area: article; }

.ocho {
  grid-area: article; }

.nueve {
  grid-area: article; }

.diez {
  grid-area: article; }

.once {
  grid-area: article; }

.doce {
  grid-area: article; }

.promociones__tarjeta {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
  background-color: #fff;
  /*padding: 1.45em;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.1s;
  width: 18.75em;
  height: 21.87em;
  border-radius: 4px; }

.promo__p {
  text-align: center;
  font-size: 160px;
  color: red; }

.precio1 {
  font-family: Roboto-Regular,sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #0e0e2c;
  margin: 0;
  text-align: center; }
