* {
  margin: 0;
  padding: 0;

}

nav {
  box-shadow: 0 10px 5px -10px rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid #dedede;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0.65em 0 0.65em 0;
  margin: 0;
  width: 100%;
  height: max-content;
}

.nav__lista {
  padding: 0 3.12em 0 3.12em;
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin: 0;
}


.nav__item {
  display: block;
  color: black;
  padding: 0.62em 0 0.62em 0;
  justify-items: center;
}

.nav__buscador {
  padding: 4px;
  border: 1px solid #a2a2a2;
}

body a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: black;
}

.nav__icono {
  width: 10rem;
  margin-top: 0.32em;
  margin-right:15px;
}



/*CARRITO */

.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}


/*Carrusel*/

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
  display: none;
}




/*CARRITO NUEVO */

.store__texto{
    color: #0e0e2c;
    text-align: center;
    font-family: Roboto-Light,sans-serif; 
    font-size: 32px;
    line-height: 40px;
    padding: .5px 0;
}

.item-cuotas{
  flex-grow: 0;
  font-family: Roboto-Regular,sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #5b51e9;
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: center;
}

.ul{
  list-style: none;
}
/*SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
  display: flex;
  flex-direction: column
}

.modal-backdrop.show{
 display:none;
}
.col-6 {
  flex: 0 0 auto;
  width: 33%;
}

.col-2 {
  flex: 0 0 auto;
  width: 33%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33%;
}

.text-center {
  text-align: center!important;
  font-size: 20px;
}

.carrito__p{
  font-size: 15px;
}
.container1{
   background-image:rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    text-align: center;
    
   
}

.row2{ 
  align-content: center;
  align-items: center;
  margin: 1.25em;
  background: #f5f5f5;
  display: grid;
  width: max-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0.43em;
  grid-row-gap: 0.43em;
}

.uno {
grid-area: article1;
}

.dos {
grid-area: article2;
}

.tres {
grid-area: article;
}

.cuatro {
grid-area: article;
}

.cinco {
grid-area: article;
}

.seis {
grid-area: article;
}

.siete {
grid-area: article;
}

.ocho {
grid-area: article;
}

.nueve {
grid-area: article;
}

.diez {
grid-area: article;
}

.once {
grid-area: article;
}
.doce{

  grid-area: article;

}




.item{
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
  background-color: #fff;
  /*padding: 1.45em;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.1s;
  width: 18.75em;
  height: 21.87em;
  border-radius: 4px;
  }
  


.item-image{

  object-fit: cover;
}

.item-title{

    font-family: Roboto-Regular,sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #4a4a68;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
  
}

.item-price{
    font-family: Roboto-Regular,sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #0e0e2c;
    margin: 0;
    text-align: center;
}



.button-primary{
  display: inline-block;

  width: 95%;
  height: 50px; 

  padding: 12px 30px;
  background: #15a3a3;
  border-radius: 29px;
  
  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  
  margin: 7% auto;
  letter-spacing: 0.05em;

  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 17px;
}

.button-primary:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn-success{

  color: rgb(255, 255, 255);
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


/* FOOTER */
footer {
  z-index: 900;
  box-shadow: 0 -10px 5px -10px rgba(0, 0, 0, 0.26);
  grid-area: footer;
  background-color: white;
  border-top: 1px solid #dedede;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "izquierda centro derecha";
}


.footer__centro {
  grid-area: centro;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}


.centro__lista {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.footer__derecha {
  grid-area: derecha;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.derecha__lista {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 1rem 0 1rem 0;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: black;
}